In [1]:
import pandas as pd
import numpy as np
from scanpath_dist import SimpleDistances, ScanMatchDist, TDEDist, MultiMatchDist

import warnings
warnings.simplefilter("ignore")

In [2]:
data = pd.concat([pd.read_excel('itog_fix_1.xlsx'), pd.read_excel('itog_fix_2.xlsx')], axis=0)

In [3]:
x = 'norm_pos_x'
y = 'norm_pos_y'
t = 'start_timestamp'
dur = 'duration'
dis = 'dispersion'
msv = 4.7  # MS_VELOCITY_THRESHOLD
msa = 1.2  # MS_AMPLITUDE_THRESHOLD

extr = SimpleDistances(
    methods=["euc", "hau", "dfr", "eye", "man", "dtw"],
    x=x, y=y,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    return_df=True,
)

extr.fit_transform(data)

100%|██████████| 74/74 [00:00<00:00, 356.53it/s]
100%|██████████| 74/74 [00:01<00:00, 40.23it/s]
100%|██████████| 74/74 [00:02<00:00, 33.78it/s]
100%|██████████| 74/74 [00:04<00:00, 15.48it/s]
100%|██████████| 74/74 [00:04<00:00, 16.59it/s]
100%|██████████| 74/74 [00:12<00:00,  5.91it/s]

     euc_dist  hau_dist  dfr_dist  eye_dist  man_dist   dtw_dist
0   11.523024  0.356933  0.150967  0.013701  0.004963   5.114370
1    5.742243  0.273418  0.097400  0.007474  0.002843   5.232649
2    8.340751  0.370576  0.168122  0.013441  0.005167   5.941350
3    8.596054  0.376553  0.296202  0.019482  0.007325   8.327380
4   14.837283  0.398961  0.186789  0.036847  0.012271  13.715833
..        ...       ...       ...       ...       ...        ...
69  14.208187  0.331831  0.130317  0.018081  0.005972   5.322151
70   6.918489  0.369058  0.374403  0.031987  0.016777   6.309719
71  86.548589  1.761361  3.102394  0.213652  0.089531  34.799439
72  45.619852  1.425941  2.033308  0.121836  0.070244   4.120587
73  56.526827  0.945050  0.893120  0.151052  0.078926   6.015439

[74 rows x 6 columns]

In [4]:
sm = ScanMatchDist(
    x=x, y=y, duration=dur,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    sub_mat=np.random.rand(20, 20),
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 74/74 [00:03<00:00, 21.94it/s]

    scan_match_dist
0          0.912354
1          0.014852
2          0.895782
3          0.365685
4          0.825024
..              ...
69         0.823631
70         0.970116
71         0.726885
72         0.746492
73         0.970116

[74 rows x 1 columns]

In [5]:
sm = TDEDist(
    x=x, y=y, k=5,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 74/74 [00:01<00:00, 43.78it/s]

    tde_dist
0   0.464739
1   0.310080
2   0.423593
3   0.458899
4   0.651648
..       ...
69  0.366214
70  0.663955
71  2.631214
72  2.154973
73  2.370565

[74 rows x 1 columns]

In [6]:
sm = MultiMatchDist(
    x=x, y=y, duration=dur,
    path_pk=["tekst"],
    pk=["Participant", "tekst"],
    return_df=True,
)

sm.fit_transform(data)

100%|██████████| 74/74 [00:14<00:00,  5.16it/s]

    mm_shape  mm_angle    mm_len    mm_pos  mm_duration
0   0.989729  0.725039  0.988050  0.887668     0.785921
1   0.990728  0.694281  0.990906  0.856862     0.602883
2   0.990740  0.685322  0.990722  0.915073     0.865914
3   0.990829  0.647834  0.986792  0.819744     0.476266
4   0.992024  0.709786  0.988917  0.880251     0.344911
..       ...       ...       ...       ...          ...
69  0.991330  0.793307  0.991389  0.848557     0.638712
70  0.991950  0.661647  0.992536  0.756973     0.511584
71  0.989852  0.578995  0.990325  0.672793     0.448325
72  0.991066  0.636830  0.991843  0.613000     0.652105
73  0.990123  0.567886  0.986447  0.602515     0.582961

[74 rows x 5 columns]